* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header */
header {
  width: 100%;
  display: flex;
  background-color: #24BEAC;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #393939;
  font-size: 2rem;
}

.logo-icon {
  font-size: 3rem;
}

nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
}

.header-media-inst {
  font-size: 2rem;
}

.header-media-fcb {
  font-size: 1.8rem;
}

nav>a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: -8px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s ease-in-out;
}

nav>a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.toggle {
  display: none;
}

/* HEADER END */
/* MAIN START */

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 8rem 4rem 1rem;

  background-color: #ffffff;
}

.about {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(103, 103, 103);
  padding: 0 2rem 4rem 2rem;
}

.about img {
  margin-top: 8rem;
  width: 35rem;
  height: 25rem;
  border-radius: 2rem;
}

.adress {
  font-size: 1.4rem;
  color: #24BEAC;
}


.about-text {
  max-width: 40%;
}

.about-text h1 {
  color: rgb(59, 59, 59);
  font-size: 4rem;
  line-height: 4rem;
  margin-top: 1.5rem;
}

.about-text h1 span {
  color: #24BEAC;
}

.about-text p {
  font-size: 1.1rem;
  padding-top: 2rem;
}

.about-text p span {
  font-weight: 600;
}

.about-btn {
  margin: 4rem 0;

}


.about-btn a {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  margin-right: 1rem;
  background-color: #24BEAC;
  padding: 1.6rem 2.4rem;
  border-radius: 3rem;

}

.about-btn a:hover {
  background-color: #40c7b8;
}

.about-btn a:first-child {
  background-color: #347dde;
}

.about-btn a:first-child:hover {
  background-color: #5692e0;
}


.benefits {
  margin: 6rem 0 2rem;
  padding: 0 2rem 3rem 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(103, 103, 103);
}

.benefits img {
  width: 25rem;
  height: 25rem;
  border-radius: 3rem;
  margin-top: 3rem;
}

.benefits-text {
  max-width: 60%;
}

.benefits-text h2 {
  font-size: 4rem;
  font-weight: 800;
  color: #24BEAC;
}

.benefits-text p {
  font-size: 1.2rem;
  color: #393939;

}

.benefits-text p:first-child {
  font-size: 2rem;
  font-weight: 600;

}

.benefits-text p span {
  font-weight: 600;
  color: #2d2d2d;

}

.benefits-text ul {
  margin-top: 2rem;
  list-style: none;
}

.benefits-text ul li {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem;
}

.benefits-text ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("../public/right-arrow.svg");
  background-size: contain;
  margin-right: 5px;
  vertical-align: top;
}



.contact-card-container {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  gap: 1rem;
}

.contact-card {
  border: 1px solid #24BEAC;
  background-color: #60e4d52b;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.5s;
}

.contact-card:hover {
  transform: scale(0.95);
}

.contact-card-icon {
  font-size: 3rem;
}




.book-form-container {
  display: flex;
  background-color: #60e4d52b;
  border: 1px solid #24BEAC;
  width: 40rem;
  height: 100%;
  flex-direction: column;
  padding: 2rem;
  border-radius: 2rem;

}

.book-form-container h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

.book-form-container-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 1rem;
}

.book-form-container input {
  max-width: 20rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.book-form-container label {
  font-size: 1.2rem;
}

.book-form-container textarea {
  max-width: 20rem;
  outline: none;
  height: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.book-form-button-container {
  width: 100%;

  display: flex;
  justify-content: end;

}

.book-form-button-container button {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  margin-right: 1rem;
  background-color: #24BEAC;
  padding: 1.2rem 3rem;
  border-radius: 3rem;
  border: none;
  margin-top: 1rem;
}



.doctors-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.doctors-card-container {
  display: flex;
  flex-direction: column;
  background-color: #60e4d52b;
  border: 3px solid #24BEAC;
  border-radius: 1rem;

  padding: 2rem 1rem;
  margin: 2rem 4rem;
}

.doctors-card-container img {
  width: 25rem;
  border-radius: 2rem;
}

.doctors-card-container p {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.price-container {
  border: 3px solid black;
  list-style: none;
  padding: 1rem;
  width: 50%;

}

.price-container li {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 0.5rem;
  font-size: 1rem;
}


.blog-container {
  display: flex;
  margin: 0 6rem;
}

.blog-container ul {
  list-style: none;
  width: 60%;

}

.blog-container li {
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #24BEAC
}

.blog-container li h4 {
  text-align: end;
}

.blog-container li p {
  padding: 1rem 0;
}




/* MAIN END */

/* FOOTER START */
footer {
  padding: 1rem 0;
  flex: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  margin: 1rem 0 0 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.map {

  width: 80%;
  height: 15rem;
  border: none;
}

/* FOOTER END */





@media screen and (min-width: 980px) and (max-width: 1280px) {
  .about img {
    width: 25rem;
    height: 15rem;
    border-radius: 2rem;
  }

  .about-text h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: 1.5rem;
  }

  .about-text p {
    font-size: 0.9rem;
  }

  .about img {
    margin-top: 10rem;
  }

  .about-btn a {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    margin-right: 1rem;
    background-color: #24BEAC;
    padding: 1rem 0.4rem;
    border-radius: 3rem;
  }

  .benefits-text {
    padding-left: 1rem;
  }

  .benefits-text h2 {
    font-size: 2rem;
  }

  .benefits-text p {
    font-size: 1.2rem;
  }

  .benefits-text p:first-child {
    font-size: 1.4rem;
  }

  .benefits img {
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;

  }

  .contact-card {
    width: 15rem;
    height: 15rem;
  }

  .doctors-card-container {
    padding: 2rem 1rem;
    margin: 2rem;
  }

  .blog-container ul {
    width: 80%;

  }

}

@media screen and (min-width: 767px) and (max-width: 980px) {
  main {
    margin-top: 5rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  nav {
    gap: 1rem;
  }

  nav a {
    font-size: 1.2rem;

  }

  .header-media-inst {
    font-size: 1.4rem;
  }

  .header-media-fcb {
    font-size: 1.2rem;
  }

  /* ************************************************************************************** */
  /* main */
  main {
    padding: 1rem 2rem;
  }

  .about {
    flex-direction: column;
    margin-top: -2rem;
  }

  .about img {
    order: 0;
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;
  }

  .about-text {
    max-width: 100%;
    order: 1;
  }

  .about-text h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin-top: 1.5rem;
  }

  .about-btn {
    margin-top: 4rem;
  }

  .about-btn a {
    padding: 1.2rem 2rem;
  }

  /* //////////////////////////////////////////////////////// */
  .benefits-text {
    padding-left: 1rem;
  }

  .benefits-text h2 {
    font-size: 1.6rem;
    margin: 1rem 0;
  }

  .benefits-text p {
    font-size: 1rem;
  }

  .benefits-text p:first-child {
    font-size: 1.2rem;
  }

  .benefits img {
    width: 14rem;
    height: 14rem;
    border-radius: 1rem;

  }

  .benefits-text ul li {
    font-size: 0.8rem;
  }

  .contact-card {
    width: 12rem;
    height: 12rem;
  }

  .contact-card-container {
    margin: 4rem 0 -5rem;
  }




  .doctors-card-container {
    margin: 2rem;
  }

  .doctors-card-container img {
    width: 20rem;
  }

  .blog-container ul {
    width: 90%;

  }
}

@media screen and (max-width: 767px) {
  main {
    margin-top: 5rem;
  }

  /* header */
  .logo {
    font-size: 1rem;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  nav a {
    font-size: 1rem;
  }

  header {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }

  .toggle {
    display: block;
    position: absolute;
    top: 0.6rem;
    right: 2rem;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .header-media-inst {
    position: absolute;
    top: 0.7rem;
    right: 4.5rem;
  }

  .header-media-fcb {
    font-size: 1.6rem;
    position: absolute;
    top: 0.85rem;
    right: 7rem;
  }

  .toggle {
    top: 1rem;
  }

  /* header */

  /* ************************************************************************************** */

  /* main */

  main {
    padding: 0.2rem;
  }

  .about {
    flex-direction: column;
    margin-top: -2rem;
    padding-bottom: 1rem;
  }

  .about img {
    order: 0;
    width: 15rem;
    height: 10rem;
    border-radius: 0.8rem;
  }

  .about-text {
    max-width: 100%;
    order: 1;
  }

  .about-text h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 1.5rem;
  }

  .about-text p {
    font-size: 1rem;
  }

  .about-btn {
    margin-top: 4rem;
  }

  .about-btn a {
    padding: 1rem 1rem;
    font-size: 0.8rem;
  }

  /* ////////////////////////////////////////////////// */
  .benefits {
    flex-direction: column;
    margin-top: 2rem;
  }

  .benefits-text {
    padding-left: 1rem;
    max-width: 100%;
  }

  .benefits-text h2 {
    font-size: 2rem;
    padding: 1rem 0;
  }

  .benefits-text p {
    font-size: 1rem;
  }

  .benefits-text p:first-child {
    font-size: 1rem;
  }

  .benefits img {
    display: none;
  }

  .benefits-text ul li {
    font-size: 0.8rem;

  }

  .contact-card-container {
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: -5rem;
    gap: 2rem;
  }

  .contact-card {
    width: 15rem;
    height: 15rem;

  }

  .book-form-container {
    width: 80%;
    height: 100%;
    padding: 0.8rem;
    margin: 2rem 0;
  }

  .book-form-container-grid {
    grid-template-columns: 2fr 3fr;
  }

  .book-form-container input {
    width: 100%;
  }


  .doctors-container {
    grid-template-columns: 1fr;
  }

  .doctors-card-container {
    margin: 2rem;
  }

  .doctors-card-container img {
    width: 20rem;
  }

  .blog-container ul {
    width: 100%;

    padding: 1rem 0;
  }



  /* main */

}